<script src="assets/vendors/jquery.js"></script>
<script src="assets/vendors/popper.min.js"></script>
<script src="assets/vendors/bootstrap.min.js"></script>

<script src="assets/vendors/i18next.min.js"></script>
<script src="assets/vendors/jquery-i18next.min.js"></script>
<script src="assets/vendors/i18nextBrowserLanguageDetector.min.js"></script>
<script src="assets/vendors/moment-with-locales.min.js"></script>

<script src="assets/vendors/i18nextHttpBackend.min.js"></script>
<script src="assets/js/i18n.js"></script>