<nav class="mt-2 navbar navbar-expand-lg p-0">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <select name="language" id="languageSwitcher"></select>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="https://optimalgamestate.com"><img src="assets/img/ogs_logo.png"
                                width="150" height="30"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html" onclick="onClearCache()">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="special.html" onclick="onClearCache()">Special Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="playbook.html" onclick="onClearCache()">Plays</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="instructions.html" onclick="onClearCache()">Instructions</a>
                    </li>
                </ul>
            </div>

        </nav>
